.hero1 {
    
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

}

.hero1-box {
    width: 638px;
    height: 184px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    word-spacing: 20px;
    text-align: center;
    
}

.hero1-box h2{
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.hero1-box h2:hover {
    color: #FF6565; 
   
}
.hero1-box p {
    margin-top: 20px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: light;
}

.part2-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 40px;
    background-color: #ffffff;
    height: 180px;
    width: 1002px;
    position: relative;
    
    
}
.part2-icons img {
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 15px;
    background-color: #ffffff;
}
.part2-icons p{
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
}