body {
display: flex;
flex-direction: column;
color: aqua;
}
main {
    display: flex;
    flex: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    grid-area: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}